@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: bunny;
    src: url('../../fonts/bunny$mambo.ttf');
}

.nav{
    background-color: #eaaf0b;
    width: 100%;
    height: 7rem;
    padding: 20px;   
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.titleFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.titulo{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    color: #0375b3;
    text-shadow: 2px 2px rgb(253, 253, 251);
}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}

.img{
    width: 50px;
    height: 50px;
    margin-left: -20px;
    /* font-size: 40px; */
    
}

.form{
    background-color: #0375b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}
.form:hover{
    background-color: white;
    color: #0375b3;
}

.svgSup button{
    position: relative;
    top: -300px;
    background-color: #0375b3;
    border:1px solid white;
    color: white;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 7px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

/* .svgSup button:hover{
    background-color: white;
    color: #0375b3;
    border: #0375b3;
}
 */

/* .container{
   width: 100%;
}
 */


/* .svg{
    position: sticky;
    top: 0;
    
   
}
 */

/* ----------Search------------- */
