@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.search{
    display: flex;
    flex-direction: row;
}



.input{
    font-family: 'Roboto', sans-serif;
    color:#0375b3;
    font-size: 18px;
    padding: 7px;
    border: 2px solid #0375b3;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
.boton{
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    font-size: large;
    margin-left: 4px;
    background-color: #0375b3;
    color: rgb(252, 249, 249);
    transition: all 400ms ease-in-out;
}

.boton:hover{
    background-color:rgb(252, 249, 249);
    color: #0375b3;
}