@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.select{
    font-family: 'Roboto', sans-serif;
    color:#0375b3;
    font-size: 18px;
    padding: 5px;
    background-color: rgb(250, 253, 251);;
    border: 2px solid #0375b3;
    border-radius: 5px;
    margin: 0px 2px;
}